<div class="product-container">
 
    <h2>
        Current Products
    </h2>
 
  
  {{#each products as |product|}}
    <div>
     
      
        {{id}}
        {{product_name}}
        {{description}}
        {{price}}
        
        
    
    </div>
  {{/each}}
</div>